.moving-company{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    font-size: 10px;
}

.check-icon{
    /* background-color: orange; */
    width: 1.5%;
    height: 0.1%;
    margin-top: 1%;
    border-radius: 40%;
}
.check-icon i{
    font-size: 10px;
    background-color: orange;
    border-radius: 6px;
}
.email-us{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-content: center;
    margin: auto;
}
.call-us{
    display: grid;
    grid-template-columns: 1fr 5fr;
}


.email-us i{
    margin-top: 9%;
    font-size: 20px;
    color: blue;
}

.call-us i{
    margin-top: 25%;
    font-size: 20px;
    color: blue;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.navigations{
    display: flex; 
    justify-content: center;
    gap: 4%;
    margin-top: 3%;
    font-size: 10px;
}
.navigations a{
    color: black; 
    text-decoration: none;
}
.moving-day{
    position: relative;
    text-align: center;
}
.moving-day img{
    align-items: center;
    width: 100%;
    /* height: 90vh; */
    height: auto;
    
}
.moving-family{
    position: absolute;
    top: 50%;
  left: 40%;
}
.smooth-moving{
    font-size: 15px;
}
.makeitEasy{
    font-size: 60px;
    width: 65%;
    font-weight: bold;
    color: white;
}
.get-started-button{
    padding: 15px;
    width: 10%;
    background-color: #f1b52e;
    border: none;
    left: 10%;
    position: absolute;
    top: 65%;
  left: 50%;

}
.about-Riaad{
    display: grid;
    grid-template-columns: 3fr 3fr;
    margin-top: 5%; 
    margin-left: 10%;
   
}
.items-image{
    width: 70%;
}
.movingboxes{
    width: 60%;
}
.riaad-2007{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-top: 5%;
}
.foundation-details{
    width: 40%;
}
.Easy-fun{
    font-size: 30px;
    font-weight: bolder;
    width: 40%;
}
.since-foundation{
    margin-top: 15%;
}
.logos{
    display: flex;
    justify-content:center;
    margin-top: 3%;
}
.logo-container{
    display: flex;
    /* width: 30%; */
    margin-top: 5%;
}
.services{
    text-align: center;
    margin-top: 5%;
}
.service-kinds{
    /* padding: 20px;  padding: 30px; border-radius: 5%; */
   /* align-content: center;
   /* tex */ 
   text-align: center;
   
}
.service-kinds figcaption{
    margin-top: 13%;
}
.all-services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.lorem{
    align-self: center;
    margin-top: 10%;
    width: 40%;
    margin-left: 30%;
}

.service-img-container img{
    width: 10%;
    padding: 19px;
    background-color: orange;
    border-radius: 50%;
}
.service-storage{
    text-align: center;
    background-color: blue;
    width: 50%;
    height: 90%;
    color: white;
    
}
.service-storage figcaption{
    margin-top: 20%;
}
.storage-img-container figcaption{
    /* background-color: blue; */
    /* margin-top: 15%; */
}
.storage-img-container img{
    width: 20%;
    padding: 19px;
    border-radius: 50%;
}
#play-icon{
    color: white;
    padding: 15px;
    background-color: yellow;
    border-radius: 50%;
    margin-bottom: 100%;
    
}
.video-section{
    display: flex;
    justify-content: center;
    /* gap: 20%; */
    margin-top: 10%;
    background-color: blueviolet;
}
.video{
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.video img{
    display: flex;
    position: relative;
    width: 15vh;
    height: 13vh;
}
.video i{
    color: white;
    padding: 15px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    bottom: -308vh;
    left: 120vh;

     
}
.helping{
    font-size: larger;
    font-weight: bold;
}
.question{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.trusted{
    /* margin-top: 10%; */
    background-color: blue;
    width: 40vh;

}
.trusted img{
    width: 35vh;
    position: relative;
}
.link-to-riaad{
    background-color: white;
    width: 13%;
    position: absolute;
    bottom: -345vh;
    margin-left: 20px;
}
#check{
    background-color: #f1b52e;
    padding: 12px;
    border-radius: 60%;
}
.achievements{
    display: grid;
    grid-template-columns: 0fr 0.5fr;
    gap: 10px;
    margin-top: 2%;
}
.achievements i{
    font-size: 20px;
    color: white;
}
.trust-riaad{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 4%;
    margin-top: 10%;
    /* margin: auto; */
    margin-left: 10%;
}
.book-onlone{
   text-align: center;
}
#pray-icon{
    color: white;
    padding: 15px;
    background-color: yellow;
    border-radius: 50%;
    /* margin-bottom: 100%; */
    
}
.moving-couple{
    align-items: center;
    margin-left: 10%;
}
.moving-couple img{
    width: 90%
}

.testimonials{
    background-color: rgb(246,246,246);
    /* border: 1px solid black; */
    height: 700px;
    margin-top: 5%;
}
.testimonial-container{
    text-align: center;
}
#quote{
    background-color:  #527bbf;
    border-radius: 50%;
}
.images-container{
    display: flex;
    justify-content: center;
    gap: 4vh;
}
.image-container i{
    /* align-self: center; */
    margin-left: 40%;
    background-color: #527bbf;
    padding: 15px;
}
.image-container{
    padding: 5vh;
    height: 30vh;
    background-color: white;width: 27vh;
    text-align: center;
}
.image-container i{
    background: white;
}
.updates{
    margin: 20vh;
}
.update-container{
    display: flex;flex-direction: column;align-items: center;
}
.update-container i{
    color: #F9B42E;
}
.input-container{
    display: flex;justify-content: center;gap: 20px;
}
.input-container p{
    background-color: rgb(246,246,246);padding: 3vh;padding-right: 35vh;
}
.input-container button{
    border: none;width: 15%;height: 8vh;margin-top: 1vh;background-color: rgb(249,180,46);
}
.blog-container{
    display: flex;flex-direction: column;align-items: center;margin-top: 100px;margin-bottom: 100px;
}
.blog-container a{
    color: #F9B42E;
}
.blog-container h1{
    color: black;
}
.bottom-image{
    display: flex;gap: 30px;
}
.bottom-image-container{
    position: relative;width: 100%;
}
.bottom-image-container img{
    width: 100%; height: 100%;
}
.comment{
    position: absolute;top: 0;left: 0;
}
.reviews{
    width: 100%;height: 20vh;background-color: #F9B42E;display: flex;justify-content: space-around;align-items: center;
}
.reviews h1{
    color: white;
}
.reviews button{
    height: 5vh;border: none;background-color: rgb(46,44,42);color: white;width: 12%;padding: 2.5vh;text-align: center;padding-bottom: 4vh;
}
footer{
    height:70vh;background-color: rgb(46,44,42); width: 100%;
}
.top-footer{
    display: flex;
}
.bottom-footer{
    color: rgb(92, 92, 92);
}
footer p{
    text-align: center;
}
















